*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    background-color: white;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Header */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    background-color: white;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 110px;
}

.menu {
    display: none;
}

.actions {
    display: none;
}

.menu-mobil {
    display: flex;
    align-items: center;
}

.menu-mobil a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: inherit;
    margin-right: 18px;
}

.menu-mobil img {
    width: 27px;
    cursor: pointer;
}


/* Intro */
.intro {
    margin-top: 80px;
    text-align: center;
}

.flex-container {
    display: flex;
}

.intro .flex-container {
    flex-direction: column;
}

.info h1 {
    font-weight: 400;
    line-height: 32px;
    font-size: 30px;
    letter-spacing: -2px;
    margin-bottom: 30px;
}

.info p {
    font-size: 20px;
    margin-bottom: 30px;
}

.free-trial {
    display: flex;
    flex-direction: column;
}

.info button {
    color: white;
    background-color: #67b54b;
    border-radius: 5px;
    padding: 10px 24px;
    border: 1px solid transparent;
    margin-bottom: 30px;
}

.info img {
    width: 170px;
    margin: 0 auto 30px;
}

.info p:last-child {
    font-weight: 500;
    font-size: 14px;
    color: rgba(139,139,139,.8);
}

.video {
    margin-bottom: 60px;
}

.video video {
    width: 100%;
}

.logos {
    text-align: center;
}

.logos p {
    opacity: .4;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.4px;
    font-weight: 700;
    margin-bottom: 30px;
}

.logos div img {
    display: inline-block;
    margin: 19px;
}


/* features */
.features {
    text-align: center;
    margin-bottom: 30px;
}

.features .title {
    margin-bottom: 60px;
}

.features .title h1 {
    color: #025157;
}

.features .flex-container {
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.item-card {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.item-card .img-container{
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px black;
    margin-bottom: 30px;
}

.item-card .img-container img{
    width: 100%;
    transition: all 0.5s ease;
}

.item-card .img-container img:hover{
    transform:scale(1.15);
}

.item-card h3 {
    margin-bottom: 15px;
}


/* tools */
.tools .title {
    margin-bottom: 60px;
    text-align: center;
}

.tools .title h2 {
    color: #025157;
    line-height: 26px;
    font-size: 28px;
    letter-spacing: -2px;
}

.tools .items .item-card {
    background-color: #fff;
    border: 1px solid #dadada;
    box-shadow: 0 4px 20px rgba(0,0,0,.06);
    padding: 40px 18px;
    border-radius: 4px;
}

.tools .items .item-card img {
    max-width: 40px;
}

/* cases */
.cases {
    display: flex;
    flex-direction: column;
}
 .cases .testimonials {
     order: 2;
 }

.cases .info {
    order: 1;
}

.info h1 {
    color: #025157;
    line-height: 32px;
    font-size: 30px;
    letter-spacing: -2px;
    font-weight: bold;
}

.info button {
    background: #025157;
    font-weight: bold;
    padding: 15px 20px;
}

.testimonials .item-card {
    text-align: left;
    box-shadow: 0 4px 20px rgba(0,0,0,.11);
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
}

.testimonials .item-card .testimonial-img{
    background-image: url(https://getmatcha.com/wp-content/uploads/2020/09/0-1-150x150-1.jpeg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.testimonials .item-card h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #025157;
}

.testimonials .item-card h2 {
    line-height: 26px;
    font-size: 28px;
    letter-spacing: -2px;
    margin: 15px 0;
}

.testimonials .item-card p {
    font-size: 17px;
    line-height: 19px;
    letter-spacing: -.5px;
    margin-bottom: 30px;
}

.testimonials .item-card button {
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    background: #025157;
    color: #fff;
    padding: 12px 20px;
    border: 1px solid transparent;
}

/* others */
.others {
    margin-bottom: 60px;
}

.others .item {
    width: auto;
    height: 300px;
    margin: 45px 20px;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 40px;
    box-sizing: border-box;
}

.others .feature-1 {
    background-image: url(https://getmatcha.com/wp-content/themes/getmatcha/img/gfx/blocks/masters.jpg);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.others .feature-2 {
    background-color: white;
    display: flex;
    position: relative;
    overflow: hidden;
}

.others .feature-2-inf{
    width: 50%;
}

.others .feature-2-img{
    display: flex;
    width: 50%;
    position: absolute;
    right: 0;
}

.others .feature-2-img img{
    width: 190px;
}

.others .feature-2-img img:first-child{
    display: inline-block;
    margin-bottom: 20px;
}

.others .feature-2-img img:last-child{
    display: inline-block;
    margin-top: 20px;
}

.others .feature-3 {
    background-image: url(https://getmatcha.com/wp-content/themes/getmatcha/css/../img/gfx/blocks/texture.jpg);
    background-repeat: no-repeat;
    background-color: #fade82;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.others .feature-4 {
    background-image: url(https://getmatcha.com/wp-content/themes/getmatcha/css/../img/gfx/blocks/toolkit.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #035157;
    color: white;
}


/* footer */
footer .info-footer {
    padding: 50px 35px;
    background: #025157;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 60px;
}

footer .info-footer div {
    margin-bottom: 25px;
}

footer .info-footer div h3 {
    line-height: 1.16;
    font-size: 28px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

footer .info-footer div p a {
    text-decoration: none;
    color: greenyellow;
}

footer .info-footer .get-started button {
    background-color: #67b54b;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 24px;
    color: white;
    margin-bottom: 15px;
}

footer .info-footer .get-started p {
    font-size: 12px;
    line-height: 16px;
    color: #c8c8c8;
}

footer .links {
    text-align: center;
}

footer .links .suscribe {
    margin-bottom: 60px;
}

footer .links .suscribe h3 {
    margin: 20px;
}

footer .links .suscribe p {
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 10px;
}

footer .links .suscribe form input {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #025157;
    color: #025157;
}

footer .links .suscribe form button {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid transparent;
    color: white;
    background-color: #025157;
}

.links .products,
.links .matcha,
.links .resources {
    margin-bottom: 60px;
}

.links .products ul,
.links .matcha ul,
.links .resources ul {
    list-style: none;
}

footer .end {
    text-align: center;
}

footer .end .icons img {
    margin-bottom: 30px;
}

footer .end .icons .icon-items img {
    width: 20px;
    margin-bottom: 30px;
}

footer .end .icons .icon-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .end .icons .icon-items img:last-child {
    width: 70px;
}

footer .end .icons p {
    margin-bottom: 30px;
}



/* Media */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    header {
        padding: 0 35px;
    }

    .info h1 {
        font-size: 52px;
        line-height: 64px;
        letter-spacing: -3px;
        font-weight: bold;
        color: #025157;
    }

    /* cases */
    .cases {
        margin-bottom: 60px;
    }

    .testimonials .item-card {
        width: 75%;
        margin: 0 auto;
    }

    .info h1 {
        font-size: 38px;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .info h1 {
        max-width: 560px;
    }

    /* intro */
    .intro {
        margin-bottom: 100px;
    }

    /* features */
    .features .title h1 {
        font-size: 55px;
    }
    
    .features .flex-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .item-card {
        padding: 15px;
    }

    /* tools */
    .tools .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .tools .title h2{
        font-size: 36px;
        line-height: 1;
    }

    /* others */
    .others {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 30px;
    }

    .others .item {
        margin: 0;
    }

    /* footer */
    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer .info-footer {
        width: 720px;
    }

    .links span {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    footer .links .suscribe h3 {
        margin: 0 0 20px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    header {
        padding: 50px 40px;
    }

    /* intro */
    .intro {
        margin-top: 160px;
    }

    .intro > .flex-container {
        flex-direction: row;
    }

    .free-trial {
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
    }

    .info .free-trial > *{
        margin: 0;
    }

    .info .free-trial button {
        margin-right: 25px;
    }

    .info {
        flex: 0 0 50%;
        text-align: left;
    }

    .video {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .video video {
        width: 70%;
    }

    /* tools */
    .tools .items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1340px;
    }

    /* header */
    header {
        top: 40;
        padding: 80px 80px;
    }

    .menu {
        display: block;
        flex: 1;
    }

    .menu ul {
        text-align: center;
    }
    
    .menu ul li {
        font-size: 16px;
        margin: 0 25px;
        list-style: none;
        cursor: pointer;
        display: inline-block;
    }

    .menu ul li:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
    }

    .menu ul li:first-child {
        margin-left: 0;
    }

    .menu ul li:last-child {
        margin-right: 0;
    }

    .actions {
        display: inline;
    }

    .actions a {
        text-decoration: none;
        color: inherit;
        font-size: 14px;
        font-weight: 600;
    }

    .actions button {
        font-size: 14px;
        font-weight: 600;
        color: white;
        background-color: #025157;
        padding: 15px 20px;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid transparent;
        margin-left: 10px;
    }

    .menu-mobil {
        display: none;
    }

    .logo img {
        width: 190px;
    }

    /* intro */
    .info h1 {
        font-size: 68px;
    }

    /* tools */
    .tools .items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .cases {
        flex-direction: row;
    }

    .cases .testimonials{
        order: 1;
        flex: 1;
    }

    .cases .info {
        order: 2;
        flex: 2;
    }

    .cases .info h1 {
        font-size: 55px;
    }

    /* footer */
    footer .info-footer,
    footer .links,
    footer .end {
        width: 1340px;
    }

    .links {
        flex-direction: row;
        justify-content: space-between;
    }

    .links .suscribe {
        width: 40%;
        text-align: left;
    }

    .links span {
        width: 50%;
    }

    .end {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .end .icons {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer .end .icons img {
        margin: 0;
    }

    .end .icon-items {
        width: 50%;
        justify-content: space-between;
    }
    footer .end .icons .icon-items img {
        margin: 0;
    }
}